* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(218, 215, 69);
  font-family: 'Roboto',
    sans-serif;
  padding: 0 30px;
}

.logo {
  color: rgb(143, 32, 32);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
  color: rgb(187, 166, 50);
}

.nav-links a {
  color: rgb(141, 35, 17);
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 17px;

}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 26px;
  height: 4px;
  background-color: rgb(165, 53, 53);
  margin: 5px;
  transition: all 0.3s ease;
}

.coming-soon {
  background-color: rgba(20, 20, 20, 0.822);
  padding: 20px 5px;
}

.coming-soon p {
  font-size: 75px;
  font-family: 'Roboto condensed',
    sans-serif;
  color: rgb(207, 189, 28);
  text-transform: uppercase;
  padding: 0 0 20px 0;
  padding-bottom: 0;
  letter-spacing: 2px;
}

.coming-soon-sub p {
  text-transform: none;
  font-family: 'Roboto',
    sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

.coming-soon-sub p span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(236, 183, 229);
  background-color: rgb(221, 25, 221);
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 9px;
}

.content-container {
  background: url('./images/P1030030_2.JPG');
  background-position: 50% 50%;
  background-size: cover;
  height: 92vh;
  background-repeat: no-repeat;
  font-family: 'Roboto',
    sans-serif;
  text-align: center;
}

.contact-container {
  background: rgba(0, 0, 0, 0.897);
  height: 100%;
}

.contact-container p {
  font-size: 160px;
  color: rgba(255, 255, 255, 0.616);
  text-transform: uppercase;
  line-height: 0.9;
  padding: 50px 0;
  padding-bottom: 0;
}

.contact-container ul {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-top: 50px;
  color: rgb(209, 209, 209);
  align-items: center;
}

.contact-container li {
  list-style: none;
  font-size: 70px;
  width: 75%;
  border: 2px dotted #444;
  padding: 40px 10px;
  margin: 10px
}

.contact-container li a {
  display: block;
  color: white;
  text-decoration: none;
}

.contact-container li a:hover {
  text-decoration: underline;
}

.contact-container li:hover {
  background-color: rgb(71, 71, 71)
}

.contact-container .path {
  font-size: 22px;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 905px) {
  .contact-container p {
    font-size: 130px;
  }
}


@media screen and (max-width:730px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    opacity: 0;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(204, 202, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .coming-soon p {
    font-size: 60px
  }

  .coming-soon-sub p {
    font-size: 20px;
  }

  .contact-container p {
    font-size: 110px;
  }
}



@media screen and (max-width: 600px) {
  .content-container {
    background: url('./images/P1030045_2.JPG');
  }

  .coming-soon {
    padding: 20px 0;
    padding-bottom: 15px;
  }

  .coming-soon p {
    font-size: 60px;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }

  .coming-soon-sub p {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .coming-soon-sub p span {
    display: block;
    font-size: 15px;
    width: 70%;
    margin: 10px auto;
  }

  .contact-container p {
    font-size: 80px;
  }

}

.nav-active {
  transform: translateX(0%);
  opacity: 1;

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%)
  }

  to {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes navFade {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px)
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px)
}

@media screen and (max-width: 512px) {}